@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&display=swap");

.split {
  padding: 7%;
  .leftabout {
    // padding-top: 10%;
  }
  .rightabout {

    // margin: 5px;
    // padding: 2%;
    // .textlocation {
    //   // margin: 30px;
    //   padding-top: 10%;
    // }
  }
}

// .leftabout {
//   // height: 800px;
//   // width: 200px;
//   background-size: cover;

//   flex: 50%;
//   // background-repeat: no-repeat;
//   // width: 100%;
// }

// .leftabout .rightabout {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   // width: 50%;
//   flex: 50%;
// }

// .centered {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

// .centered img {
//   width: 200%;
//   // border-radius: 50%;
// }
p {
  font-family: "Hind Madurai", sans-serif;
}
h2 {
  font-family: "PT Sans Caption", sans-serif;
}
@media screen and (min-width: 900px) {
  .split {
    flex-direction: row;
    height: 100vh;
  }
  // .leftabout,
  // .rightabout {
  //   display: flex;
  //   // width: 50%;
  //   // height: auto;
  // }
}

.aboutImage {
  height: 60vh;
  width: auto;
}

.aboutLineContainer {
  display: flex;
  align-items: center;
}

.aboutEmoji {
  font-size: 3rem;
}