@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 150px; /* Should be removed. Only for demonstration */
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
p {
  font-family: "Raleway", sans-serif;
}
h2 {
  font-family: "Raleway", sans-serif;
}
hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}
x .ustory {
  width: 400px;
  height: auto;
}

.bigsize {
  width: 700px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.costco {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.smallsize {
  width: 300px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
