// .intro{
//     background-color: aquamarine;
// }
// video {
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap");
img {
  width: 100%;
  // height: auto;
  object-fit: cover;
}
.myh1 {
  font-size: 90px;
  padding: 10px 0;
}

.myh2 {
  font-size: 60px;
}

.xiaop {
  color: black;
  padding: 10px 0;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 30%;
}
