@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Josefin+Sans&family=Nunito+Sans:wght@400;700&display=swap');

.sectionHeading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: x-large;
}

.sectionSubHeading {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
}

.sectionText {
  font-family: 'Nunito Sans', sans-serif;
}